// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;
}

h2 {
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: #ADCAD6;
}


.articles {
  padding: 20px
}

.form {
  padding: 20px;
  background-color: #ADCAD6;
  border-radius: 3px;
  font-weight: bolder;
}

